﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title 1</title>
    <link rel="icon" type="image/x-icon" href="~/Images/Favicon/favicon.ico">

    <base href="/">

    @Styles.Render("~/Content/a2styles")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/a2scripts")
</body>
</html>
